html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-size: 1.6rem;
}

input{
    height: 3rem;
}

.calculator {
    margin: auto;
    max-width: 30%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
.calculator * {
    margin-bottom: 2rem;
}
.money, .fare, .extra {
    max-width: 16rem;
}

.btn {
    margin: 2rem 0 2rem 0;
    font: 700  1.8rem "Multi";
    border-radius: 25px;
    text-transform: uppercase;
    background: #ece8e1;
    color: #0f1923;
    padding: 1.5rem;
    cursor: pointer;
    border:.3rem solid #888888;
    box-shadow:  -6px -20px 35px #ffffff, -6px -10px 15px #ffffff,
                 -20px 0px 30px #ffffff, 6px 20px 25px rgba(0,0,0,0.2);
    outline:none;
}

.btn:hover {
    transition: 0.3s ease-out all;
    background: blueviolet;
    color: #ece8e1;
}

span {
    color: blue;
}
h1,p{
    margin-top: -.75rem;
}
h1{
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    .calculator{
        max-width: 70%;
        min-width: 30rem;
    }
}
@media (min-width: 501px) and (max-width: 800px) {
    .calculator{
        max-width: 55%;
    }
}